

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    align-items: center;
}

.nav-2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.nav-2 img{
    height: 30px;
    width: 30px;
}

.nav-logo{
    display: flex;
    align-items: center;
}


.nav-div{
    display: flex;
    gap: 32px;
    font-size: 1.25rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.nav-div > a{
    text-decoration: none;
}

.btn-primary{
    font-size: 1.25rem;
    font-weight: 500;
    padding: 10px 60.5px;
    color:white;
    border-radius: 12px;
    border-style: none;

}

.banner{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    /* justify-content: space-around; */
}

.banner img{
    margin-left: 50px;
}

.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    border-bottom: 0;
}

.banner-description{
    font-size: 1.25rem;
    color: #111111;
    border-top: 0;
}

.hide{
    display: none;
}

.curriculum{
    
}

.curriculum-title{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 80px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1160px;
    margin: 0 auto;
    gap: 28px;
}

.card-container > div > a{
    text-decoration: none; 
    font-size: 1rem;
    font-weight: 700;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 28px;
    border-radius: 18px;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 53px;
    padding-left: 40px;
    padding-right: 40px;

}
.card-1{
   
    background-color: #DEF5FF;

    
}
.card-2{
   
    background-color: #FFF4DC;
    box-shadow: 0 0 rgba(0, 0, 0, 0.05);

}
.card-3{
   
   
}

/* Responsive media query */

@media screen and (max-width: 576px) {
    .banner{
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .banner-img{
        border-left: 20px;
    }
    .nav{
        display: none;
    }

    .nav-2{
        display:contents;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}